:root {
  --light-primary: 239, 216, 27;
  --light-primary-variant: 223, 193, 19;
  --light-secondary: 69, 109, 203;
  --light-secondary-variant: 89, 135, 216;
  --light-background: 255, 255, 255;
  --light-surface: 245, 245, 246;
  --light-error: 255, 22, 23;
  --light-onPrimary: 255, 255, 255;
  --light-onSecondary: 0, 0, 0;
  --light-onBackground: 0, 0, 0;
  --light-onSurface: 0, 0, 0;
  --light-onError: 0, 0, 0;

  --dark-primary: 239, 216, 27;
  --dark-secondary: 145, 185, 232;
  --dark-background: 31, 31, 31;
  --dark-surface: 18, 18, 18;
  --dark-error: 194, 8, 15;
  --dark-onPrimary: 0, 0, 0;
  --dark-onSecondary: 255, 255, 255;
  --dark-onBackground: 255, 255, 255;
  --dark-onSurface: 255, 255, 255;
  --dark-onError: 255, 255, 255;
}
