@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Code', 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Helpers  */
.container {
  max-width: 1400px;
  width: 100%;
}

/* NavBar */
main > section > header {
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1;
}
